<div class="post">
    <div class="user-icon-wrapper avatar" *ngIf="filePath !== 'undefined'; else placeholder">
      <img [src]="filePath" class="user-icon rounded-full aspect-square w-[48px]">
    </div>
    <ng-template #placeholder>
      <div class="user-icon-wrapper avatar">
        <fa-icon class="user-icon" [icon]="faUserAstronaut" size="3x"></fa-icon>
      </div>
    </ng-template>
    
    <div class="content">
      <div class="title">
        {{ title }}
      </div>
      <div class="creator">
        <span class="lead">Created by {{ creator }}</span>
      </div>
      <div class="subtitle">
        {{ subtitle }}
      </div>
      <div class="text">
        {{ text }}
      </div>
      <div class="action-icons">
        <div class="like">
          <fa-icon [icon]="faThumbsUp" (click)="addLikeToPost()"></fa-icon>
          {{ likes }}
        </div>
        |
        <div class="comment">
          <fa-icon [icon]="faComments"></fa-icon>
          {{ comments }}
        </div>
      </div>
      <div class="comments">
        <app-comment *ngFor="let comment of commentsOfPost | async" 
          [user]="comment.user" 
          [body]="comment.body">
        </app-comment>
        <app-comment-form 
          [postId]="uid" (newComment)="addCommentToPost()">
        </app-comment-form>
      </div>
    </div>
  </div>