<div class="post">
    <div class="avatar">
      <fa-icon [icon]="faUserAstronaut" size="3x"></fa-icon>
    </div>
    <div class="content">
      <div class="title">
        {{ title }}
      </div>
      <div class="subtitle">
        {{ subtitle }}
      </div>
      <div class="text">
        {{ text }}
      </div>
      <div class="action-icons">
        <div class="like">
          <fa-icon [icon]="faThumbsUp" (click)="addLikeToPost()"></fa-icon>
          {{ likes }}
        </div>
        |
        <div class="comment">
          <fa-icon [icon]="faComments" (click)="addCommentToPost()"></fa-icon>
          {{ comments }}
        </div>
      </div>
      <div class="comments">
        <app-comment *ngFor="let comment of commentsOfPost | async" 
          [user]="comment.user" 
          [body]="comment.body">
        </app-comment>
        <app-comment-form 
          [postId]="uid" (newComment)="addCommentToPost()">
        </app-comment-form>
      </div>
    </div>
  </div>