<div class="container">
    <form [formGroup]="createPostForm" action="">
        <div class="left">
            <div class="title">
                Post erstellen
            </div>
            <div  class="add-title">
                <input formControlName="title" class="input" type="text" placeholder="Titel hinzufügen"/>
            </div>
            <div class="add-content">
                <input formControlName="content" class="input" type="text" placeholder="Inhalt hinzufügen"/>
            </div>
            <div class="add-document">
                <!-- TODO: ADD FILE PICKER -->
                <button class="btn-add-doc" type="button">+</button>
                Dokument hinzufügen
            </div>
        </div>
        <div class="right">
            <div class="tribes">
                <select formControlName="tribe" class="select">
                      <option selected>Alle Tribes</option>
                      <option *ngFor="let tribe of tribes" [value]="tribe">
                         {{tribe}}
                      </option>
                </select>
            </div>
            <div class="actions">
                <button (click)="pushPost()" class="btn-submit" type="submit">Veröffentlichen</button>
                <button (click)="goBack()" class="btn-cancel" type="button">Abbrechen</button>
            </div>
        </div>
    </form>
</div>
