<div class="container">
    <form action="">
        <div class="left">
            <div class="title">
                Post erstellen
            </div>
            <div class="add-title">
                <input class="input" type="text" placeholder="Titel hinzufügen"/>
            </div>
            <div class="add-content">
                <input class="input" type="text" placeholder="Inhalt hinzufügen"/>
            </div>
            <div class="add-document">
                <!-- TODO: ADD FILE PICKER -->
                <button class="btn-add-doc" type="button">+</button>
                Dokument hinzufügen
            </div>
        </div>
        <div class="right">
            <div class="tribes">
                <select class="select">
                      <option selected>Alle tribes</option> <!-- TODO: MULTISELECT FUNCTIONALITY AND NGFOR* ALL OPTIONS-->
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                </select>
            </div>
            <div class="actions">
                <button class="btn-submit" type="submit">Veröffentlichen</button>
                <button class="btn-cancel" type="button">Abbrechen</button>
            </div>
        </div>
    </form>
</div>