<div class="wrapper">
    <div class="header" *ngIf="auth.user$ | async as user">
        {{ user.firstname }} {{ user.name }}
    </div>
    <form name="profileForm" [formGroup]="profileForm">
        <div class="left">
            <div class="firstname">
                <div class="form-control">
                    <label class="form-label" for="firstname">
                      Vorname
                    </label>
                    <input class="form-input" id="firstname" type="text" placeholder="Name" formControlName="firstname">
                    <span class="text-danger" *ngIf="profileForm.controls['firstname'].dirty && profileForm.hasError('required', 'firstname')">Vergiss nicht deinen Vornamen einzugeben!</span>
                </div>
            </div>
            <div class="lastname">
                <div class="form-control">
                    <label class="form-label" for="lastname">
                      Nachname
                    </label>
                    <input class="form-input" id="lastname" type="text" placeholder="Nachname" formControlName="lastname">
                    <span class="text-danger" *ngIf="profileForm.controls['lastname'].dirty && profileForm.hasError('required', 'lastname')">Vergiss nicht deinen Nachnamen einzugeben!</span>
                </div>
            </div>
            <div class="username">
                <div class="form-control">
                    <label class="form-label" for="username">
                        Benutzername
                    </label>
                    <input class="form-input" id="username" type="text" placeholder="Benutzername" formControlName="username">
                    <span class="text-danger" *ngIf="profileForm.controls['username'].dirty && profileForm.hasError('required', 'username')">Wir brauchen für dich einen Benutzernamen!</span>
                </div>
            </div>
            <div class="departement">
                <div class="form-control">
                    <label class="form-label" for="department">
                      Klasse
                    </label>
                    <input class="form-input" id="department" type="text" placeholder="Abteilung" formControlName="department">
                    <span class="text-danger" *ngIf="profileForm.controls['department'].dirty && profileForm.hasError('required', 'department')">Wir müssen wissen in welcher Klasse du bist!</span>
                </div>
            </div>
            <div class="actions">
                <button class="btn-submit" type="submit" (click)="editData()" [disabled]="!profileForm.valid">Speichern</button>
                <button class="btn-cancel" type="button" (click)="resetData()" [disabled]="!profileForm.dirty">Abbrechen</button>
            </div>
        </div>
        <div class="right">
            <div class="avatar">
                <div *ngIf="filePath !== 'undefined'; else placeholder">
                    <img [src]="filePath">
                </div>
                <ng-template #placeholder>
                    <fa-icon [icon]="faUserAstronaut" size="10x"></fa-icon>
                </ng-template>
            </div>
            <div class="form-group">
                <input type="file" accept="image/*" id="img" (change)="imagePreview($event)" />
            </div>
        </div>
    </form>
</div>
