<p>This is the login page!</p>

<div *ngIf="auth.user$ | async as user; else login">
  <pre>
      {{ user | json }}
  </pre>
  <hr>
  <div *ngIf="user.name; else register">
    <button class="button" (click)="router.navigate([''])">Enter Dashboard</button>
  </div>
  <ng-template #register>
    <button class="button" (click)="router.navigate([''])">Register</button> // TODO: Change path to register
  </ng-template>
</div>

<ng-template #login>
    <button class="button" (click)="auth.googleSignin()">Login with Google</button>
</ng-template>
