<div class="header">
  <form action="">
    <div class="title">
      Home
    </div>
    <div class="field">
      <input class="input" type="text" placeholder="Post hinzufügen" #titleInput/>
      <button class="btn-submit" type="submit" (click)="createPostRedirect(titleInput.value)">+</button>
    </div>
  </form>
</div>

<div class="filter">
  <form action="">
    <div class="field">
      <select class="select">
            <option selected>Alle tribes</option> <!-- TODO: NGFOR* ALL OPTIONS-->
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
      </select>
      <button class="btn-filter" type="submit">Filtern</button>
    </div>
  </form>
</div>

<div class="posts">
  <!-- TODO: *NGFOR ALL POSTS -->
    <app-post *ngFor="let post of posts | async"
     [title]="post.title"
     [subtitle]="post.tribe"
     [text]="post.body"
     [likes]="post.likes"
     [comments]="post.comments"
     [uid]="post.uid">
    </app-post>
</div>