<div class="header">
  <form action="">
    <div class="title">
      Home
    </div>
    <div class="field">
      <input class="input" type="text" placeholder="Post hinzufügen" #titleInput/>
      <button class="btn-submit" type="submit" (click)="createPost(titleInput.value)">+</button>
    </div>
  </form>
</div>

<div class="filter">
  <form action="">
    <div class="field">
      <select class="select">
            <option selected>Alle tribes</option> <!-- TODO: NGFOR* ALL OPTIONS-->
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
      </select>
      <button class="btn-filter" type="submit">Filtern</button>
    </div>
  </form>
</div>

<div class="posts">
  <!-- TODO: *NGFOR ALL POSTS -->
  <span *ngFor="let post of posts">
    <app-post>
   
    </app-post>
  </span>
</div>

<div *ngIf="auth.user$ | async as user">
  <div class="text-2xl mt-32">
    Welcome {{ user.username }}
  </div>
  <hr>
  <button class="button" (click)="auth.signOut()">Sign out</button> <br>
</div>