<div class="main-grid">  
  <!-- Left side -->
  <div class="form-container">
    <div class="main-heading">
      Please enter your data
    </div>
    <form class="form" name="registrationForm" [formGroup]="registrationForm" (ngSubmit)="editData()">
      <div class="form-group">
        <!-- Firstname -->
        <div class="form-control">
          <label class="form-label" for="firstname">
            Vorname
          </label>
          <input class="form-input" id="firstname" type="text" placeholder="Name" formControlName="firstname">
          <span class="text-danger" *ngIf="registrationForm.controls['firstname'].dirty && registrationForm.hasError('required', 'firstname')">Firstname field is required</span>
        </div>
        <!-- Lastname -->
        <div class="form-control">
          <label class="form-label" for="lastname">
            Nachname
          </label>
          <input class="form-input" id="lastname" type="text" placeholder="Nachname" formControlName="lastname">
          <span class="text-danger" *ngIf="registrationForm.controls['lastname'].dirty && registrationForm.hasError('required', 'lastname')">Lastname field is required</span>
        </div>
        <!-- Username -->
        <div class="form-control">
          <label class="form-label" for="username">
            Benutzername
          </label>
          <input class="form-input" id="username" type="text" placeholder="Benutzername" formControlName="username">
          <span class="text-danger" *ngIf="registrationForm.controls['username'].dirty && registrationForm.hasError('required', 'username')">Username field is required</span>
        </div>
        <!-- Department -->
        <div class="form-control">
          <label class="form-label" for="department">
            Abteilung
          </label>
          <input class="form-input" id="department" type="text" placeholder="Abteilung" formControlName="department">
          <span class="text-danger" *ngIf="registrationForm.controls['department'].dirty && registrationForm.hasError('required', 'department')">Department field is required</span>
        </div>
        <div class="flex items-center justify-between">
          <button class="btn-continue hover:bg-blue-700" type="submit" [disabled]="!registrationForm.valid">
            Weiter
          </button>
          <a class="btn-back hover:text-blue-800" href="#" (click)="cancelRegistration()">
            Zurück
          </a>
        </div>
      </div>
    </form>
  </div>
  <!-- Right side -->
  <app-logo-section></app-logo-section>
</div>
