<app-post
      [title]="post.title"
      [tribe]="post.tribe"
      [text]="post.body"
      [likes]="post.likes"
      [comments]="post.comments"
      [uid]="post.uid"
      [user]="post.user"
      [creator]="post.creator">
</app-post>
<div class="container">
    <form [formGroup]="commentForm" action="">
        <div class="comment-action">
            <textarea cols="40" rows="1" formControlName="body" class="input" type="text" placeholder="Kommentar abgeben"></textarea>
            <div class="actions">
                <button (click)="postComment()" class="btn-submit" type="submit">Veröffentlichen</button>
            </div>
        </div>
    </form>
    <div class="mt-4" *ngFor="let comment of comments | async">
        <b>{{comment.user}}</b>
        <br>
        {{comment.body}}
    </div>
</div>


