<div class="side-bar" *ngIf="isLoggedIn">
  <div class="sticky-wrapper">
    <div class="logo-wrapper">
      <div class="marketplace-logo-wrapper">
        <a class="marketplace-logo-link" routerLink="/">
          <img class="marketplace-logo" src="./../../../assets/img/logo-black.png" alt="Marketplace Logo">
        </a>
      </div>
    </div>
    <div class="nav-list">
      <a class="nav-link-button" routerLink="/">
        <div class="nav-link-icon-wrapper">
          <fa-icon class="icon" [icon]="faHouse" size="1x"></fa-icon>
        </div>
        <h3 class="nav-link-text">Dashboard</h3>
      </a>
      <a class="nav-link-button" routerLink="/">
        <div class="nav-link-icon-wrapper">
          <fa-icon class="icon" [icon]="faBook" size="1x"></fa-icon>
        </div>
        <h3 class="nav-link-text">Meine Posts</h3>
      </a>
      <a class="nav-link-button" routerLink="/profile">
        <div class="nav-link-icon-wrapper">
          <fa-icon class="icon" [icon]="faIdCard" size="1x"></fa-icon>
        </div>
        <h3 class="nav-link-text">Profile</h3>
      </a>
    </div>
    <div class="spacer"></div>
    <div class="user-info" *ngIf="auth.user$ | async as user">
      <a class="user-info-button" routerLink="/profile">
        <div class="user-icon-wrapper" *ngIf="user.img !== 'undefined'; else placeholder">
          <img [src]="user.img" class="user-icon rounded-full aspect-square w-[64px]">
        </div>
        <ng-template #placeholder>
          <div class="user-icon-wrapper">
            <fa-icon class="user-icon" [icon]="faUserAstronaut" size="3x"></fa-icon>
          </div>
        </ng-template>
        <div class="profile-info">
          <h4 class="profile-header">
            {{ user.username }}
          </h4>
          <button class="sign-out" (click)="auth.signOut()">Sign out</button> <br>
        </div>
      </a>
    </div>
  </div>
</div>